/* TODO: Default light theme */
:root {
  color-scheme: light;

  --roundness: 4px;
  --shadow: 0 0;
  --transparent: #0000;

  --font-family: Arial, sans-serif;

  /* Buttons */
  --button-primary-border-radius: var(--roundness);
  --button-primary-margin: 2px;

  /* Text Area */
  --text-area-border-radius: var(--roundness);
  --text-area-margin: 2px;

  /* Dock */
  --dock-tab-border-radius: var(--roundness);
  --dock-active-tab-border-radius: var(--roundness);
  --dock-border-radius: var(--roundness);

  /* Scrollbars */
  --scrollbar-thumb-radius: var(--roundness);

  /* Sliders */
  --slider-bar-radius: var(--roundness);
  --slider-bar-height: 4px;
  --slider-bar-margin: 4px;

  /* Select */
  --select-border-radius: var(--roundness);
}

/* Default dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    /* Components Colors */
    --text-1: #eef;
    --text-2: #99a;
    --text-3: #667;
    --text-4: #445;
    --text-5: #223;

    --text-red-1: #f07;
    --text-red-2: #c05;
    --text-red-3: #a03;
    --text-red-4: #801;
    --text-red-5: #600;

    --text-blue-1: #19f;
    --text-blue-2: #17d;
    --text-blue-3: #15b;
    --text-blue-4: #149;
    --text-blue-5: #137;

    --text-yellow-1: #fe6;
    --text-yellow-2: #ed3;
    --text-yellow-3: #cc0;
    --text-yellow-4: #a90;
    --text-yellow-5: #860;

    --text-green-1: #0d3;
    --text-green-2: #0b2;
    --text-green-3: #091;
    --text-green-4: #070;
    --text-green-5: #050;

    --box-1: #112;
    --box-2: #334;
    --box-3: #556;
    --box-4: #778;
    --box-5: #aab;

    --box-red-1: #600;
    --box-red-2: #801;
    --box-red-3: #a03;
    --box-red-4: #c05;
    --box-red-5: #f07;

    --box-blue-1: #017;
    --box-blue-2: #029;
    --box-blue-3: #03b;
    --box-blue-4: #05d;
    --box-blue-5: #07f;

    --box-yellow-1: #860;
    --box-yellow-2: #a90;
    --box-yellow-3: #cc0;
    --box-yellow-4: #ed3;
    --box-yellow-5: #fe6;

    --box-green-1: #050;
    --box-green-2: #070;
    --box-green-3: #091;
    --box-green-4: #0b2;
    --box-green-5: #0d3;

    --background-primary-color: var(--box-1);
    --background-secondary-color: var(--box-2);
    --text-primary-color: var(--text-1);
    --text-secondary-color: var(--text-2);
    --border-primary-color: var(--box-5);
    --border-secondary-color: var(--box-3);
    --red-primary: var(--text-red-1);
    --blue-primary: var(--text-blue-1);

    /* Beats */
    --beat-black: #ffffff;
    --beat-red: #ed1121;
    --beat-blue: #66ccff;
    --beat-yellow: #ffcc22;
    --beat-yellow-dark: #d6a400;
    --beat-brown: #af8600;
    --beat-purple: #6644cc;
    --beat-purple-dark: #583da8;

    /* Resizer */
    --resizer-background: var(--border-primary-color);
    --resizer-border: var(--background-primary-color);
    --resizer-border-hover: color-mix(in srgb, var(--text-primary-color) 50%, transparent);

    /* Buttons */
    --button-primary-background-color: var(--background-secondary-color);
    --button-primary-color: var(--text-primary-color);
    --button-primary-border-color: var(--border-secondary-color);
    --button-primary-shadow: var(--shadow);
    --button-primary-hover-background-color: color-mix(in srgb, var(--background-primary-color) 50%, transparent);
    --button-primary-hover-shadow: var(--shadow);
    --button-primary-hover-color: var(--text-primary-color);

    /* Text Area */
    --text-area-background-color: var(--background-secondary-color);
    --text-area-color: var(--text-primary-color);
    --text-area-border-color: none;
    --text-area-shadow: var(--shadow);

    /* Dock */
    --dock-background-color: var(--background-primary-color);
    --dock-bar-background-color: var(--background-secondary-color);
    --dock-tab-background-color: var(--dock-bar-background-color);
    --dock-active-tab-background-color: var(--dock-bar-background-color);
    --dock-border-color: var(--border-secondary-color);
    --dock-bar-bottom-border-color: var(--border-secondary-color);
    --dock-shadow: var(--shadow);
    --dock-panel-btn-color: var(--text-3);

    /* Scrollbars */
    --scrollbar-background-color: var(--background-secondary-color);
    --scrollbar-thumb-color: var(--border-primary-color);
    --scrollbar-thumb-hover-color: var(--border-secondary-color);

    /* Sliders */
    --slider-knob-color: var(--blue-primary);
    --slider-knob-border-color: none;
    --slider-knob-shadow: var(--shadow);
    --slider-knob-hover-color: var(--blue-primary);
    --slider-knob-hover-border-color: none;
    --slider-knob-hover-shadow: var(--shadow);
    --slider-bar-color: var(--border-secondary-color);

    /* Radio */
    --radio-background-color: var(--background-primary-color);
    --radio-color: var(--text-primary-color);
    --radio-border-color: var(--border-secondary-color);
    --radio-shadow: var(--shadow);
    --radio-hover-background-color: color-mix(in srgb, var(--background-primary-color) 50%, transparent);
    --radio-hover-shadow: var(--shadow);

    /* Checkbox */
    --checkbox-background-color: var(--background-primary-color);
    --checkbox-color: var(--text-primary-color);
    --checkbox-border-color: var(--border-secondary);

    /* Select */
    --select-background-color: var(--background-secondary-color);
    --select-color: var(--text-primary-color);
    --select-border-color: none;
    --select-shadow: var(--shadow);
  }
}
