/* Scroll Bar */
.scroll-bar {
  --size: 1;
  --position: 0;

  display: flex;
  opacity: 0.5;
  position: absolute;
  flex-wrap: nowrap;
  align-items: stretch;
  z-index: 10;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
};

/* XXX: For some reason delete this will cause CSS selector failed to fetch */
/* WTF?? */
.scroll-bar > * {}
.scroll-bar .scroll-bar-point,
.scroll-bar .scroll-bar-body {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--scrollbar-thumb-color);
}

.scroll-bar .scroll-bar-point {
  border-radius: 4px;
}
.scroll-bar .scroll-bar-body {
  cursor: pointer;
  flex: 1;
}

.scroll-bar.horizontal {
  left: calc(var(--position) * 1px);
  bottom: 2px;
  width: calc(var(--size) * 1px);
  height: 4px;
  transition:
    height 0.1s linear,
    opacity 0.1s linear;
  flex-direction: row;
}
.scroll-bar.vertical {
  top: calc(var(--position) * 1px);
  right: 2px;
  width: 4px;
  height: calc(var(--size) * 1px);
  transition:
    width 0.1s linear,
    opacity 0.1s linear;
  flex-direction: column;
}

.scroll-bar.horizontal .scroll-bar-point {
  width: 4px;
}
.scroll-bar.vertical .scroll-bar-point {
  height: 4px;
}

.scroll-bar .scroll-bar-point.normal {
  cursor: pointer;
}
.scroll-bar.horizontal .scroll-bar-point.resizer {
  cursor: ew-resize;
}
.scroll-bar.vertical .scroll-bar-point.resizer {
  cursor: ns-resize;
}

.scroll-bar.horizontal .scroll-bar-point:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.scroll-bar.horizontal .scroll-bar-point:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.scroll-bar.vertical .scroll-bar-point:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.scroll-bar.vertical .scroll-bar-point:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.scroll-bar:hover,
.scroll-bar.scrolling {
  opacity: 1;
};
/* XXX: For some reason delete this will cause CSS selector failed to fetch */
/* WTF?? */
.scroll-bar > * {}
.scroll-bar:hover.horizontal,
.scroll-bar.scrolling.horizontal {
  height: 8px;
}
.scroll-bar:hover.vertical,
.scroll-bar.vertical.scrolling {
  width: 8px;
}
.scroll-bar:hover .scroll-bar-point,
.scroll-bar.scrolling .scroll-bar-point {
  border-radius: 8px;
}
.scroll-bar:hover.horizontal .scroll-bar-point,
.scroll-bar.scrolling.horizontal .scroll-bar-point {
  width: 8px;
}
.scroll-bar:hover.vertical .scroll-bar-point,
.scroll-bar.scrolling.vertical .scroll-bar-point {
  height: 8px;
}

.scroll-bar.scrolling {
  transition: unset;
}