.bpm-panel {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
}

.bpm-offset {
  padding: 8px;
  padding-bottom: 0;
}

.bpm-list {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}

.bpm-list-item {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid var(--border-primary-color);
  box-sizing: border-box;
  align-items: center;
}
.bpm-list-item:last-child {
  border-bottom: unset;
}
.bpm-list-item .bpm-props {
  flex: 1;
}

.bpm-prop {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.bpm-prop .bpm-prop-name {
  flex: 0.4;
}

.bpm-prop .bpm-prop-input {
  flex: 0.6;
}

.bpm-offset .bpm-prop .bpm-prop-name {
  flex: 0.354;
}

.bpm-offset .bpm-prop .bpm-prop-input {
  flex: 0.646;
}
