.timeline-scale-container {
  position: absolute;
  width: 100%;
  height: 35%;
  top: 65%;
  left: 0px;
  min-height: 8px;
  overflow-x: hidden;
}

.timeline-scale-container .timeline-scale {
  --time: 0;

  position: absolute;
  width: 1px;
  height: 100%;
  margin-top: 0px;
  left: calc(var(--time) * var(--base-scale) * 1px);
  background: black;
  transform: translateX(-50%);
}

.timeline-scale.red {
  background: #ed1121;
}
.timeline-scale.blue {
  background: #66ccff;
}
.timeline-scale.yellow {
  background: #ffcc22;
}
.timeline-scale.yellow-dark {
  background: #d6a400;
}
.timeline-scale.brown {
  background: #af8600;
}
.timeline-scale.purple {
  background: #6644cc;
}
.timeline-scale.purple-dark {
  background: #583da8;
}

.timeline-scale.red,
.timeline-scale.blue,
.timeline-scale.yellow,
.timeline-scale.yellow-dark,
.timeline-scale.brown,
.timeline-scale.purple,
.timeline-scale.purple-dark {
  margin-top: 4px;
  height: calc(100% - 4px);
}