.edit-panel {
  position: relative;
  width: 100%;
  min-height: 40px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.edit-panel-placeholder {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.edit-panel-item {
  display: flex;
  margin: 4px 0px;
  width: 100%;
}

.edit-panel-item .edit-panel-item-label {
  display: block;
  flex: 0.4;
}

.edit-panel-item .edit-panel-item-input {
  display: block;
  flex: 0.6;
}

.edit-panel-slider {
  --value-percent: 0;

  position: relative;
  display: block;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  overflow: hidden;
  cursor: ew-resize;
}

.edit-panel-slider::before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(var(--value-percent) * 100%);
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
  background: black;
}
