.note-panel {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid var(--border-primary-color);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.note-panel-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.note-grid-container {
  --current-time: 0;
  --scale: 200;

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.note-grid-scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.note-grid-beat-scale-container {
  z-index: 0;
}

.note-grid-align-scale-container {
  --scale-count: 4;

  z-index: 1;
}

.note-grid-beat-scale-container .note-grid-beat-scale {
  position: absolute;
  top: calc(100% - (var(--time) - var(--current-time)) * var(--scale) * 1px);
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--border-primary-color);
  transform: translateY(-50%);
}

.note-grid-align-scale-container .note-grid-align-scale {
  --index: 0;

  position: absolute;
  top: 0;
  left: calc((100% / var(--scale-count)) * var(--index));
  width: 1px;
  height: 100%;
  background: var(--border-primary-color);
  transform: translateX(-50%);
}

.note-grid-beat-scale.red {
  background: var(--beat-red);
}
.note-grid-beat-scale.blue {
  background: var(--beat-blue);
}
.note-grid-beat-scale.yellow {
  background: var(--beat-yellow);
}
.note-grid-beat-scale.yellow-dark {
  background: var(--beat-yellow-dark);
}
.note-grid-beat-scale.brown {
  background: var(--beat-brown);
}
.note-grid-beat-scale.purple {
  background: var(--beat-purple);
}
.note-grid-beat-scale.purple-dark {
  background: var(--beat-purple-dark);
}

.note-grid-beat-scale.red,
.note-grid-beat-scale.blue,
.note-grid-beat-scale.yellow,
.note-grid-beat-scale.yellow-dark,
.note-grid-beat-scale.brown,
.note-grid-beat-scale.purple,
.note-grid-beat-scale.purple-dark {
  height: 1px;
}