html.is-dragging.drag-horizontal,
html.is-dragging.drag-horizontal * {
  cursor: ew-resize !important;
}
html.is-dragging.drag-vertical,
html.is-dragging.drag-vertical * {
  cursor: ns-resize !important;
}

body {
  background-color: var(--background-primary-color);
  color: var(--text-primary-color);
}

.note-panel-test-container {
  width: 400px;
  height: 600px;
}

span.hr {
  margin: 0px 4px;
  color: var(--border-secondary-color);
}

.edit-panel-container {
  display: block;
  border: 1px solid var(--border-primary-color);
  width: 300px;
}

/* Default styles of react-split-pane */
.SplitPane {
  width: 100%;
  min-height: 100%;
}

.Resizer {
  background: var(--resizer-background);
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid var(--resizer-border);
  border-bottom: 5px solid var(--resizer-border);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid var(--resizer-border-hover);
  border-bottom: 5px solid var(--resizer-border-hover);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid var(--resizer-border);
  border-right: 5px solid var(--resizer-border);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid var(--resizer-border-hover);
  border-right: 5px solid var(--resizer-border-hover);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.Pane {
  overflow: hidden;
}

/* Themes Colors */
@media (prefers-color-scheme: dark) {
  :where(body) {
    --background-primary-color: #212121;
    --text-primary-color: #fff;
    --text-secondary-color: #bbb;
    --border-primary-color: var(--text-primary-color);
    --border-secondary-color: color-mix(in srgb, var(--border-primary-color) 50%, transparent);

    --red-primary: #f00;
    --blue-primary: #07f;

    --resizer-background: var(--border-primary-color);
    --resizer-border: var(--background-primary-color);
    --resizer-border-hover: color-mix(in srgb, var(--text-primary-color) 50%, transparent);

    --beat-black: #ffffff;
    --beat-red: #ed1121;
    --beat-blue: #66ccff;
    --beat-yellow: #ffcc22;
    --beat-yellow-dark: #d6a400;
    --beat-brown: #af8600;
    --beat-purple: #6644cc;
    --beat-purple-dark: #583da8;
  }
}

@media (prefers-color-scheme: light) {
  :where(body) {
    --background-primary-color: #fff;
    --text-primary-color: #000;
    --text-secondary-color: #333;
    --border-primary-color: var(--text-primary-color);
    --border-secondary-color: var(--text-secondary-color);

    --red-primary: #f00;
    --blue-primary: #07f;

    --resizer-background: var(--border-primary-color);
    --resizer-border: var(--background-primary-color);
    --border-secondary-color: color-mix(in srgb, var(--border-primary-color) 50%, transparent);

    --beat-black: #000000;
    --beat-red: #ed1121;
    --beat-blue: #66ccff;
    --beat-yellow: #ffcc22;
    --beat-yellow-dark: #d6a400;
    --beat-brown: #af8600;
    --beat-purple: #6644cc;
    --beat-purple-dark: #583da8;
  }
}