.timeline-panel-left {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.line-detail {
  color: var(--text-secondary-color);
}

.line-detail .line-info {
  color: var(--text-primary-color);
  display: flex;
  padding: 0px 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.line-detail .line-info .line-expand-button {
  display: block;
  background: transparent;
  color: var(--text-color);
  padding: 0px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: unset;
  outline: unset;
}

.line-detail .line-info .line-expand-button:hover {
  background: color-mix(in srgb, var(--background-primary-color) 10%, transparent);
}

.line-detail .line-info .line-expand-button:active {
  background: color-mix(in srgb, var(--background-primary-color) 20%, transparent);
}

.line-props-expanded {
  border-top: 1px solid var(--border-secondary-color);
  box-sizing: content-box;
}

.line-props-expanded .line-prop {
  padding: 0px 8px;
  text-align: right;
}
.line-props-expanded .line-prop:last-child {
  border-bottom: unset;
}
