.timeline-scale-container {
  position: absolute;
  width: 100%;
  height: 35%;
  top: 65%;
  left: 0px;
  min-height: 8px;
  overflow-x: hidden;
}

.timeline-scale-container .timeline-scale {
  --time: 0;

  position: absolute;
  width: 1px;
  height: 100%;
  margin-top: 0px;
  left: calc(var(--time) * var(--base-scale) * 1px);
  background: var(--beat-black);
  transform: translateX(-50%);
}

.timeline-scale.red {
  background: var(--beat-red);
}
.timeline-scale.blue {
  background: var(--beat-blue);
}
.timeline-scale.yellow {
  background: var(--beat-yellow);
}
.timeline-scale.yellow-dark {
  background: var(--beat-yellow-dark);
}
.timeline-scale.brown {
  background: var(--beat-brown);
}
.timeline-scale.purple {
  background: var(--beat-purple);
}
.timeline-scale.purple-dark {
  background: var(--beat-purple-dark);
}

.timeline-scale.red,
.timeline-scale.blue,
.timeline-scale.yellow,
.timeline-scale.yellow-dark,
.timeline-scale.brown,
.timeline-scale.purple,
.timeline-scale.purple-dark {
  margin-top: 4px;
  height: calc(100% - 4px);
}