name: Sync i18n

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  sync-i18n:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Sync i18n from Crowdin
        uses: crowdin/github-action@v2
        with:
          upload_sources: true
          upload_translations: false
          download_translations: true
          localization_branch_name: i18n
          create_pull_request: true
          pull_request_title: 'i18n: Sync from Crowdin'
          pull_request_body: 'https://crowdin.com/project/phifans-editor'
          pull_request_base_branch_name: 'master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
